node_modules/
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
ENV/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux system files
.*.swp
.*.swo
*~

# IDE-specific settings
.idea/
.vscode/
*.sublime-workspace

# Virtual Environment
.env
